<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading</title>
    <style>a {
    background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}</style>
</head>
<body>
<h1>Loading...</h1>
<br>
    <a href="http://127.0.0.1:5000/test" >Go to the recommended Videos</a>

</body>
</html>